<main>
  <div class="contact-title">
    <div class="my-container">
      <h2>Get in touch</h2>
      <p>Feel free to send us a message</p>
    </div>
  </div>

  <div class="get-in-touch-content">
    <div class="my-container">
      <div class="git-items">
        <div class="git-item">
          <i class="fa-solid fa-location-dot"></i>
          <h5>Address</h5>
          <p>West Hem, USA South</p>
        </div>
        <div class="git-item">
          <i class="fa-solid fa-phone"></i>
          <h5>Phone</h5>
          <p>+381849198224</p>
        </div>
        <div class="git-item">
          <i class="fa-solid fa-envelope"></i>
          <h5>Email</h5>
          <p>West Hem, USA South</p>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-title">
    <div class="my-container">
      <h2>About us</h2>
      <p>Let’s meet</p>
    </div>
  </div>

  <div class="about-us-content">
    <div class="my-container">
      <div class="about-us-text">
        <p>
          Welcome to our culinary haven! <br /><br />
          We are a passionate team of food enthusiasts who have decided to share
          our love for cooking with the world. <br /><br />Our mission is to
          inspire people to get back to the roots of cooking, to explore new
          flavors, and to create delicious meals at home. <br /><br />In our
          recipe collection, you can find everything from quick and easy meals
          for everyday dinners to indulgent treats for special occasions. All
          recipes are carefully curated, tested, and adapted to suit all skill
          levels and preferences. <br /><br />We believe in the power of food to
          bring people together and create unforgettable moments.<br /><br />
          That's why we don't just share recipes, but we also want to build a
          community of food lovers who support each other, share tips, and
          inspire one another to have fun in the kitchen. Join us on this
          journey of taste and discover a world of possibilities that cooking
          can bring.
          <br /><br />Feed your passion for food, and together, let's create
          magic in the kitchen!
        </p>
      </div>
    </div>
  </div>
</main>
