<main>
  <div class="auth-title">
    <h2>Register</h2>
    <p>You can register into your account here.</p>
  </div>
  <div class="my-container">
    <form #f="ngForm" (ngSubmit)="register(f)">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          required
          ngModel
          class="form-control"
          name="username"
          id="username"
          #username="ngModel"
        />
      </div>
      <div *ngIf="username.invalid" class="alert alert-danger">
        Username is required.
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          ngModel
          required
          email
          class="form-control"
          name="email"
          id="email"
          #email="ngModel"
        />
      </div>
      <div *ngIf="email.invalid" class="alert alert-danger">
        Format is invalid (example: example@example.com).
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          required
          class="form-control"
          ngModel
          name="password"
          id="password"
          #password="ngModel"
        />
      </div>
      <div *ngIf="password.invalid" class="alert alert-danger">
        Password is required.
      </div>

      <div class="bad-credentials alert alert-danger p-3" *ngIf="error">
        {{ error }}
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="password.invalid || email.invalid || username.invalid"
      >
        Login
      </button>
      <p class="have-acc">
        Already have an account
        <a routerLink="/login" routerLinkActive="active">Login here</a>
      </p>
    </form>
  </div>
</main>
