<main>
  <div class="my-container">
    <div class="recipe-detail-title">
      <h2>STEAK</h2>
      <div class="recipe-basic-info">
        <div class="info-item">
          <i class="fa-solid fa-user"></i>
          <span>Becker M. Djo</span>
        </div>
        <div class="info-item">
          <i class="fa-solid fa-calendar"></i>
          <span>26 May 2024</span>
        </div>
        <div class="info-item">
          <i class="fa-solid fa-star"></i>
          <span>4.3</span>
          <span class="ratings-count">(1,500 ratings)</span>
        </div>
        <div class="info-item">
          <i class="fa-solid fa-utensils"></i>
          <span>Breakfast</span>
        </div>
      </div>
    </div>

    <div class="recipe-detail-image-nutrition">
      <div class="image-times">
        <div class="recipe-detail-image">
          <img
            src="https://www.allrecipes.com/thmb/3cixVDmAtbb2hYxoFLVJ4VPQ7rA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/143809-best-steak-marinade-in-existence-ARMag-1x1-1-8105b6b8e5cb4931ba8061f0425243dd.jpg"
            alt=""
          />
        </div>
        <div class="recipe-detail-times">
          <div class="times-item">
            <span>Prep time</span>
            <p>5 min</p>
          </div>
          <hr class="border border-1 opacity-75" />
          <div class="times-item">
            <span>Prep time</span>
            <p>5 min</p>
          </div>
          <hr class="border border-1 opacity-75" />
          <div class="times-item">
            <span>Servings</span>
            <p>4</p>
          </div>
        </div>
      </div>
      <div class="nutrition">
        <div class="nutrition-title">
          <h5>NUTRITION FACTS:</h5>
        </div>
        <div class="nutrition-content">
          <div class="nutrition-item">
            <span>Calories</span>
            <p>520 kCal</p>
          </div>
          <div class="nutrition-item">
            <span>Carbs</span>
            <p>80g</p>
          </div>
          <div class="nutrition-item">
            <span>Fat</span>
            <p>50g</p>
          </div>
          <div class="nutrition-item">
            <span>Protein</span>
            <p>25g</p>
          </div>
          <div class="nutrition-item">
            <span>Fiber</span>
            <p>23g</p>
          </div>
          <div class="nutrition-item">
            <span>Cholesterol</span>
            <p>0mg</p>
          </div>
          <div class="nutrition-item">
            <span>Sodium</span>
            <p>44mg</p>
          </div>
        </div>
      </div>
    </div>

    <div class="recipe-detail-desc">
      <h5 class="section-heading">Description</h5>
      <p>
        This is a classic French omelette. It’s light, fluffy, and packed with
        flavors. The eggs are perfectly cooked, resulting in a creamy and
        delicate texture. The filling is just right - not too much, not too
        little. It’s a high-quality dish that showcases the skill of the chef.
        Enjoy every bite!
      </p>
    </div>

    <div class="recipe-detail-ingredients">
      <div class="ingredients-title">
        <h5 class="section-heading">Ingredients</h5>
        <button class="btn">Add to shopping list</button>
      </div>
      <div class="ingredients-content">
        <p>- 1/2 tbsp sugar</p>
        <p>- 1/2 tbsp dried tomatoes</p>
        <p>- 1/2 tbsp rosemary water</p>
        <p>- 1/2 tbsp sugar</p>
        <p>- 1/2 tbsp dried tomatoes</p>
        <p>- 1/2 tbsp rosemary water</p>
        <p>- 1/2 tbsp sugar</p>
        <p>- 1/2 tbsp dried tomatoes</p>
        <p>- 1/2 tbsp rosemary water</p>
      </div>
    </div>

    <div class="recipe-detail-instructions">
      <h5 class="section-heading">Instructions:</h5>
      <ol>
        <li>
          <a
            >This is a classic French omelette. It’s light, fluffy, and packed
            with flavors. The eggs are perfectly cooked, resulting in a creamy
            and delicate texture. The filling is just right - not too much, not
            too little. It’s a high-quality dish that showcases the skill of the
            chef. Enjoy every bite!</a
          >
        </li>
        <li>
          <a
            >This is a classic French omelette. It’s light, fluffy, and packed
            with flavors. The eggs are perfectly cooked, resulting in a creamy
            and delicate texture. The filling is just right - not too much, not
            too little. It’s a high-quality dish that showcases the skill of the
            chef. Enjoy every bite!</a
          >
        </li>
        <li>
          <a
            >This is a classic French omelette. It’s light, fluffy, and packed
            with flavors. The eggs are perfectly cooked, resulting in a creamy
            and delicate texture. The filling is just right - not too much, not
            too little. It’s a high-quality dish that showcases the skill of the
            chef. Enjoy every bite!</a
          >
        </li>
      </ol>
    </div>
  </div>
</main>
