<main>
  <div *ngIf="recipe" class="my-container">
    <div class="recipe-detail-title">
      <h2>{{ recipe.name.toUpperCase() }}</h2>
      <div class="recipe-basic-info">
        <div class="info-item">
          <i class="fa-solid fa-user"></i>
          <span>{{ recipe.author }}</span>
        </div>
        <div class="info-item">
          <i class="fa-solid fa-calendar"></i>
          <span>{{ dateTransformed }}</span>
        </div>
        <div class="info-item">
          <i class="fa-solid fa-star"></i>
          <span>{{ recipe.rating }}</span>
          <span class="ratings-count"
            >({{ recipe.rating_count }}
            {{ recipe.rating_count > 1 ? "ratings" : "rating" }})</span
          >
        </div>
        <div class="info-item">
          <i class="fa-solid fa-lemon"></i>
          <span>{{ firstUppercase(recipe.category) }}</span>
        </div>
      </div>
    </div>

    <div class="recipe-detail-image-nutrition">
      <div class="image-times">
        <div class="recipe-detail-image">
          <img src="{{ recipe.image }}" alt="{{ recipe.name }}" />
        </div>
        <div class="recipe-detail-times">
          <div class="times-item">
            <span>Prep time</span>
            <p>{{ recipe.times.prep_time }} min</p>
          </div>
          <hr class="border border-1 opacity-75" />
          <div class="times-item">
            <span>Cook time</span>
            <p>{{ recipe.times.cook_time }} min</p>
          </div>
          <hr class="border border-1 opacity-75" />
          <div class="times-item">
            <span>Servings</span>
            <p>{{ recipe.times.prep_time }}</p>
          </div>
        </div>
      </div>
      <div class="nutrition">
        <div class="nutrition-title">
          <h5>NUTRITION FACTS:</h5>
        </div>
        <div class="nutrition-content">
          <div class="nutrition-item">
            <span>Calories</span>
            <p>{{ recipe.nutrition_facts.calories }} kCal</p>
          </div>
          <div class="nutrition-item">
            <span>Carbs</span>
            <p>{{ recipe.nutrition_facts.carbs }}g</p>
          </div>
          <div class="nutrition-item">
            <span>Fat</span>
            <p>{{ recipe.nutrition_facts.fat }}g</p>
          </div>
          <div class="nutrition-item">
            <span>Protein</span>
            <p>{{ recipe.nutrition_facts.protein }}g</p>
          </div>
          <div class="nutrition-item">
            <span>Fiber</span>
            <p>{{ recipe.nutrition_facts.fiber }}g</p>
          </div>
          <div class="nutrition-item">
            <span>Cholesterol</span>
            <p>{{ recipe.nutrition_facts.cholesterol }}mg</p>
          </div>
          <div class="nutrition-item">
            <span>Sodium</span>
            <p>{{ recipe.nutrition_facts.sodium }}mg</p>
          </div>
        </div>
      </div>
    </div>

    <div class="recipe-detail-desc">
      <h5 class="section-heading">Description</h5>
      <p>
        {{ recipe.description }}
      </p>
    </div>

    <div class="recipe-detail-ingredients">
      <div class="ingredients-title">
        <h5 class="section-heading">Ingredients</h5>
        <button (click)="addIngredientsToShoppingList()" class="btn">
          Add to shopping list
        </button>
      </div>
      <div class="ingredients-content">
        <p *ngFor="let i of recipe.ingredients">
          - {{ i.amount }} {{ firstUppercase(i.name) }}
        </p>
      </div>
    </div>

    <div class="recipe-detail-instructions">
      <h5 class="section-heading">Instructions:</h5>
      <ol>
        <li *ngFor="let ins of recipe.instructions">
          <a>{{ ins }}</a>
        </li>
      </ol>
    </div>
  </div>
</main>
