@use "../../../shared/abstract/variables" as vars;
.card {
  //   width: 30%;
  transition: ease 0.3s all;
  padding: 20px;
  cursor: pointer;
  img {
    width: 100%;
    object-fit: cover;
    height: 262px;
  }
  .text {
    .category {
      p {
        font-weight: 600;
        color: rgba($color: vars.$black, $alpha: 0.3);
        font-size: 16px;
        margin-top: 7px;
        letter-spacing: 0.8px;
      }
    }
    .name {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 8px;
      p {
        font-weight: 600;
        font-size: 25px;
      }
      .details {
        font-size: 15px;
        color: rgba($color: vars.$black, $alpha: 0.3);
      }
    }

    .description {
      p {
        font-size: 14px;
        font-weight: 500;
        color: rgba($color: vars.$black, $alpha: 0.35);
      }
    }
    .ingredients-number {
      margin-top: 5px;
      margin-bottom: 7px;
      p {
        font-size: 15px;
        font-weight: 500;
      }
    }

    .ratings {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      .stars {
      }
      .ratings-count {
        font-size: 15px;
        font-weight: 400;
        color: rgba($color: vars.$black, $alpha: 0.5);
      }
    }
  }

  &:hover {
    transform: scale(1.04);
  }
}

@media only screen and (max-width: 1280px) {
  .card {
    .text {
      .category {
        p {
          margin-top: 10px;
        }
      }

      .name {
        p {
          font-size: 22px;
        }
        .details {
          font-size: 15px;
          color: rgba($color: vars.$black, $alpha: 0.3);
        }
      }
    }
  }
}
