<div routerLink="/recipes/{{ item.id }}" class="card">
  <img src="{{ item.image }}" alt="{{ item.name }}" />
  <div class="text">
    <div class="category">
      <p>{{ item.category }}</p>
    </div>
    <div class="name">
      <p>{{ item.name }}</p>
      <span class="details">(click for details)</span>
    </div>
    <div class="description">
      <p>
        {{ item.description }}
      </p>
    </div>
    <div class="ingredients-number">
      <p>
        {{ item.ingredients.length }}
        {{ item.ingredients.length > 1 ? "ingredients" : "ingredient" }}
      </p>
    </div>
    <div class="ratings">
      <div class="stars">
        <app-stars [rating]="item.rating"></app-stars>
      </div>
      <div class="ratings-count">
        ({{ item.rating_count }}
        {{ item.rating_count > 1 ? "ratings" : "rating" }})
      </div>
    </div>
  </div>
</div>
