@use "../../shared/abstract/variables" as vars;

main {
  .my-container {
    .author {
      margin: 80px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      .author-image {
        width: 25%;
        img {
          width: 100%;
        }
      }
      .author-text {
        p {
          font-size: 22px;
          color: vars.$black;
          strong {
            font-size: 23px;
            color: vars.$red;
          }
        }
      }
    }
  }
}
