<header>
  <div class="my-container">
    <div class="logo-name">
      <a routerLink="/">
        <div class="logo">
          <img src="../assets/images/tastybites.png" alt="Tasty Bites Logo" />
        </div>
        <h1>Tasty Bites</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
        </li>
        <li>
          <a routerLink="/shopping-list" routerLinkActive="active"
            >Shopping list</a
          >
        </li>
        <li>
          <a routerLink="/contact-us" routerLinkActive="active">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="contact-div">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </div>
</header>
