<header>
  <div class="my-container">
    <div class="logo-name">
      <a routerLink="/">
        <div class="logo">
          <img src="../assets/images/tastybites.png" alt="Tasty Bites Logo" />
        </div>
        <h1>Tasty Bites</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
        </li>
        <li>
          <a routerLink="/shopping-list" routerLinkActive="active"
            >Shopping list</a
          >
        </li>
        <li>
          <a routerLink="/contact-us" routerLinkActive="active">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="auth-div" *ngIf="!user">
      <a routerLink="/login" class="login-btn" routerLinkActive="active"
        >Login</a
      >
      <a routerLink="/register" class="register-btn" routerLinkActive="active"
        >Register</a
      >
    </div>
    <div class="auth-div" *ngIf="user">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        class="btn m-0 p-0"
      >
        <img
          src="https://static-00.iconduck.com/assets.00/user-circle-icon-256x256-vmrs52ri.png"
          alt="Default profile picture"
          width="45px"
          height="45px"
        />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Neko</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>User</span>
        </button>
        <button mat-menu-item>
          <button class="btn m-0 p-0" (click)="logout()">Logout</button>
        </button>
      </mat-menu>
    </div>
  </div>
</header>
