<main>
  <div class="recipes-title">
    <h2>The rarest recipes in the world</h2>
    <p>Try our recipes and leave your review</p>
  </div>

  <div class="search-sort">
    <div class="my-container">
      <input
        type="text"
        id="search"
        [(ngModel)]="search"
        (keyup)="getRecipes()"
        name="search"
        class="form-control"
        placeholder="Search by name..."
      />

      <select [(ngModel)]="sort" class="form-select" (change)="getRecipes()">
        <option value="0">Sort by:</option>
        <option value="asc-rating">Rating ascending</option>
        <option value="desc-rating">Rating descending</option>
        <option value="asc-name">Name ascending</option>
        <option value="desc-name">Name descending</option>
      </select>
    </div>
  </div>

  <div class="filters-recipe-comp" *ngIf="recipes">
    <div class="my-container">
      <div class="filters">
        <h5>Filters</h5>

        <div class="category-filter">
          <p>CATEGORY</p>
          <form #f="ngForm">
            <div *ngFor="let c of categories" class="mb-3 form-check">
              <app-radio
                (valueChanged)="setSelectedFilters($event)"
                [entity]="c"
                entityName="category"
                [status]="radioStatus"
              ></app-radio>
            </div>
          </form>
        </div>

        <div class="authors-filter">
          <p>AUTHORS</p>
          <form>
            <div *ngFor="let a of authors" class="mb-3 form-check">
              <app-radio
                (valueChanged)="setSelectedFilters($event)"
                [entity]="a"
                entityName="authors"
                [status]="radioStatus"
              ></app-radio>
            </div>
          </form>
        </div>

        <button (click)="clearFilters(f)" class="btn clear-filters-btn">
          Clear filters
        </button>
      </div>
      <div class="recipes-content" *ngIf="recipes && !error; else errorBlock">
        <div class="all-recipes">
          <app-recipe
            *ngFor="let recipe of recipes"
            [recipe]="recipe"
          ></app-recipe>
        </div>
        <div class="pagination-div">
          <button
            (click)="prevPage()"
            class="btn last-page-btn"
            [class.disabled]="page <= 1"
          >
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button
            *ngFor="let b of counter(totalPages); index as i"
            class="page-btn"
            [class.current-page]="i + 1 == page"
            (click)="setPage(i + 1)"
          >
            {{ i + 1 }}
          </button>
          <button
            (click)="nextPage()"
            class="btn next-page-btn"
            [class.disabled]="page >= totalPages"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <ng-template #errorBlock>
        <div class="alert alert-danger error-div">
          {{ error ? error : "Error occured" }}
        </div>
      </ng-template>
    </div>
  </div>
</main>
