@use "../../shared/abstract/variables" as vars;

main {
  .recipes-title {
    text-align: center;
    margin: 65px 0px 80px 0px;
    h2 {
      font-weight: 700;
    }

    p {
      color: rgba($color: vars.$black, $alpha: 0.8);
    }
  }

  .search-sort {
    margin-bottom: 90px;
    .my-container {
      display: flex;
      justify-content: space-between;
      input {
        font-size: 15px;
        width: 30%;
      }

      select {
        font-size: 15px;
        width: 15%;
        option {
          font-size: 15px;
        }
      }
    }
  }

  .filters-recipe-comp {
    margin-bottom: 150px;
    .my-container {
      display: flex;
      justify-content: space-between;
      .filters {
        width: 20%;
        h5 {
          font-size: 25px;
          font-weight: 600;
          margin-bottom: 25px;
        }
        p {
          font-size: 16px;
          color: rgba($color: vars.$black, $alpha: 0.5);
          font-weight: 600;
          margin-bottom: 10px;
        }
        form {
          margin-bottom: 50px;
          input {
          }

          label {
          }
        }
        .category-filter {
        }

        .authors-filter {
        }

        .clear-filters-btn {
          background-color: vars.$red;
          color: vars.$white;
        }
      }

      .recipes-content {
        width: 70%;

        .all-recipes {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 56px;
          column-gap: 50px;
          height: 714px;
        }
        .pagination-div {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          padding: 20px;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid vars.$black;
            color: vars.$black;
            text-decoration: none;
            font-size: 20px;
            margin: 0 4px;
            padding: 5px 10px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }

          .page-btn {
            background-color: vars.$black;
            color: vars.$white;
          }

          .current-page {
            color: vars.$white;
            background-color: vars.$red;
            border: 1px solid vars.$red;
          }
        }
      }

      .error-div {
        height: fit-content;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  main {
    .filters-recipe-comp {
      margin-bottom: 100px;
      .my-container {
        .recipes-content {
          width: 75%;

          .all-recipes {
            row-gap: 40px;
            column-gap: 40px;
            height: 560px;
          }
        }
      }
    }
  }
}
