<main>
  <div class="recipes-title">
    <h2>The rarest recipes in the world</h2>
    <p>Try our recipes and leave your review</p>
  </div>

  <div class="search-sort">
    <div class="my-container">
      <input
        type="search"
        id=""
        class="form-control"
        placeholder="Search by name..."
      />

      <select id="" class="form-select">
        <option value="0">Sort by:</option>
      </select>
    </div>
  </div>

  <div class="filters-recipe-comp">
    <div class="my-container">
      <div class="filters">
        <h5>Filters</h5>

        <div class="category-filter">
          <p>CATEGORY</p>
          <form>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input category-checks"
                id="breakfast"
              />
              <label for="breakfast" class="form-check-label">Breakfast</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input category-checks"
                id="lunch"
              />
              <label for="lunch" class="form-check-label">Lunch</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input category-checks"
                id="dinner"
              />
              <label for="dinner" class="form-check-label">Dinner</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input category-checks"
                id="snack"
              />
              <label for="snack" class="form-check-label">Snack</label>
            </div>
          </form>
        </div>

        <div class="authors-filter">
          <p>AUTHORS</p>
          <form>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input authors-checks"
                id="breakfast"
              />
              <label for="breakfast" class="form-check-label">Djin</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input authors-checks"
                id="lunch"
              />
              <label for="lunch" class="form-check-label">Ardi D. Becker</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input authors-checks"
                id="dinner"
              />
              <label for="dinner" class="form-check-label">Made Bock</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input authors-checks"
                id="snack"
              />
              <label for="snack" class="form-check-label">Fade K. Moil</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input authors-checks"
                id="snack"
              />
              <label for="snack" class="form-check-label">Becker Decker</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input authors-checks"
                id="snack"
              />
              <label for="snack" class="form-check-label">Meiker Faces</label>
            </div>
          </form>
        </div>
      </div>
      <div class="recipes-content">
        <div class="recipe-item">
          <div class="recipe-image">
            <img
              src="https://www.olivetomato.com/wp-content/uploads/2016/02/SAM4952-1.jpg"
              alt=""
            />
          </div>
          <div class="recipes-text">
            <p>Nesto</p>
          </div>
        </div>
        <div class="recipe-item">
          <div class="recipe-image">
            <img
              src="https://www.olivetomato.com/wp-content/uploads/2016/02/SAM4952-1.jpg"
              alt=""
            />
          </div>
          <div class="recipes-text">
            <p>Nesto</p>
          </div>
        </div>
        <div class="recipe-item">
          <div class="recipe-image">
            <img
              src="https://www.olivetomato.com/wp-content/uploads/2016/02/SAM4952-1.jpg"
              alt=""
            />
          </div>
          <div class="recipes-text">
            <p>Nesto</p>
          </div>
        </div>
        <div class="recipe-item">
          <div class="recipe-image">
            <img
              src="https://www.olivetomato.com/wp-content/uploads/2016/02/SAM4952-1.jpg"
              alt=""
            />
          </div>
          <div class="recipes-text">
            <p>Nesto</p>
          </div>
        </div>
        <div class="recipe-item">
          <div class="recipe-image">
            <img
              src="https://www.olivetomato.com/wp-content/uploads/2016/02/SAM4952-1.jpg"
              alt=""
            />
          </div>
          <div class="recipes-text">
            <p>Nesto</p>
          </div>
        </div>
        <div class="recipe-item">
          <div class="recipe-image">
            <img
              src="https://www.olivetomato.com/wp-content/uploads/2016/02/SAM4952-1.jpg"
              alt=""
            />
          </div>
          <div class="recipes-text">
            <p>Nesto</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
