<header>
  <div class="my-container">
    <div class="logo-name">
      <a routerLink="/">
        <div class="logo">
          <img src="../assets/images/tastybites.png" alt="Tasty Bites Logo" />
        </div>
        <h1>Tasty Bites</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Recipes</a>
        </li>
        <li>
          <a href="">Shopping list</a>
        </li>
        <li>
          <a href="">About us</a>
        </li>
      </ul>
    </nav>
    <div class="contact-div">
      <a href="">Contact</a>
    </div>
  </div>
</header>
<main>
  <div class="hero">
    <div class="hero-text">
      <h2>Find your passion here</h2>
      <p>The perfect way to the heart is through the stomach</p>
      <a href="">Find recipes</a>
    </div>
  </div>
</main>
