.my-container {
  width: 90%;
  margin: 0px auto;
}

header {
  background-color: #f5f5f5;
  padding: 10px 0px;
}
header .my-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .my-container .logo-name {
  width: 25%;
}
header .my-container .logo-name a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
header .my-container .logo-name a .logo {
  width: 45px;
  display: flex;
  align-items: center;
}
header .my-container .logo-name a .logo img {
  width: 100%;
}
header .my-container .logo-name a h1 {
  color: #ff6464;
}
header .my-container nav {
  width: 50%;
}
header .my-container nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}
header .my-container nav ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #2a2a2a;
  transition: 0.3s ease all;
}
header .my-container nav ul li a:hover {
  color: #ff6464;
}
header .my-container .contact-div {
  width: 25%;
  text-align: end;
}
header .my-container .contact-div a {
  font-size: 18px;
  padding: 12px 35px;
  border-radius: 32px;
  background-color: #ff6464;
  color: #f6f6f6;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease all;
}
header .my-container .contact-div a:hover {
  background-color: #2a2a2a;
}

main .hero {
  width: 100%;
  height: 89vh;
  background-image: url("../assets/images/hero.png");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
main .hero .hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
main .hero .hero-text h2 {
  color: #f6f6f6;
  font-size: 47px;
  font-weight: 800;
}
main .hero .hero-text p {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 25px;
}
main .popular-recipes {
  margin: 60px 0px 90px 0px;
}
main .popular-recipes .my-container .content {
  display: flex;
  gap: 150px;
}
main .popular-recipes .my-container .content .card {
  width: 30%;
  transition: ease 0.3s all;
  padding: 10px;
}
main .popular-recipes .my-container .content .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 262px;
}
main .popular-recipes .my-container .content .card .text .category p {
  font-weight: 600;
  color: rgba(42, 42, 42, 0.3);
  font-size: 16px;
  margin: 7px 0px 3px 0px;
}
main .popular-recipes .my-container .content .card .text .name {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}
main .popular-recipes .my-container .content .card .text .name p {
  font-weight: 600;
  font-size: 25px;
}
main .popular-recipes .my-container .content .card .text .name .details {
  font-size: 15px;
  color: rgba(42, 42, 42, 0.3);
}
main .popular-recipes .my-container .content .card .text .description p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(42, 42, 42, 0.35);
}
main .popular-recipes .my-container .content .card .text .ingredients-number {
  margin-top: 5px;
  margin-bottom: 7px;
}
main .popular-recipes .my-container .content .card .text .ingredients-number p {
  font-size: 15px;
  font-weight: 500;
}
main .popular-recipes .my-container .content .card .text .ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
main .popular-recipes .my-container .content .card .text .ratings .stars i {
  font-size: 15px;
}
main .popular-recipes .my-container .content .card .text .ratings .ratings-count {
  font-size: 15px;
  font-weight: 400;
  color: rgba(42, 42, 42, 0.5);
}
main .popular-recipes .my-container .content .card:hover {
  transform: scale(1.04);
}
main .what-you-want-to-cook {
  background-color: #ff6464;
  text-align: center;
  padding: 80px 0px;
}
main .what-you-want-to-cook .my-container .text h2 {
  margin-bottom: 5px;
}
main .what-you-want-to-cook .my-container .text p {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 25px;
  color: rgba(42, 42, 42, 0.8);
  margin-bottom: 30px;
}
main .what-can-you-find-here {
  margin-top: 60px;
}
main .what-can-you-find-here .my-container .title {
  margin-bottom: 70px;
}
main .what-can-you-find-here .my-container .content {
  display: flex;
  justify-content: space-evenly;
}
main .what-can-you-find-here .my-container .content .item {
  width: 20%;
  text-align: center;
}
main .what-can-you-find-here .my-container .content .item i {
  font-size: 60px;
}
main .what-can-you-find-here .my-container .content .item p {
  margin-top: 20px;
  font-size: 17px;
}
main .magazine {
  margin-top: 100px;
  padding: 100px 0px;
  background-image: url("../assets/images/magazine.png");
  background-position: center;
  background-size: cover;
}
main .magazine .my-container .title {
  width: 45%;
}
main .magazine .my-container .title h2 {
  text-align: start;
  margin-bottom: 0px;
}
main .magazine .my-container .title p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(42, 42, 42, 0.45);
  margin-bottom: 22px;
}
main .magazine .my-container .title a {
  font-size: 18px;
  background-color: #ff6464;
}
main .magazine .my-container .title a:hover {
  background-color: #2a2a2a;
  color: #f6f6f6;
}

footer .upper {
  background-color: #f5f5f5;
  padding: 45px 0px;
}
footer .upper .my-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .upper .my-container .left {
  width: 25%;
}
footer .upper .my-container .left .logo-and-text {
  margin-bottom: 20px;
}
footer .upper .my-container .left .logo-and-text a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
footer .upper .my-container .left .logo-and-text a .logo {
  width: 45px;
  display: flex;
  align-items: center;
}
footer .upper .my-container .left .logo-and-text a .logo img {
  width: 100%;
}
footer .upper .my-container .left .logo-and-text a h1 {
  color: #ff6464;
}
footer .upper .my-container .left .catalog img {
  width: 100%;
}
footer .upper .my-container .left .social-networks {
  margin-top: 20px;
}
footer .upper .my-container .left .social-networks .title p {
  font-weight: 300;
}
footer .upper .my-container .left .social-networks .content {
  display: flex;
  gap: 33px;
  margin-top: 20px;
}
footer .upper .my-container .left .social-networks .content a {
  text-decoration: none;
  color: #2a2a2a;
}
footer .upper .my-container .left .social-networks .content a i {
  font-size: 23px;
}
footer .upper .my-container .left .social-networks .content .facebook:hover {
  color: #1877f2;
}
footer .upper .my-container .left .social-networks .content .instagram:hover {
  color: #c32aa3;
}
footer .upper .my-container .left .social-networks .content .twitter:hover {
  color: #2a2a2a;
}
footer .upper .my-container .left .social-networks .content .tiktok:hover {
  color: #af415c;
}
footer .upper .my-container .left .social-networks .content .youtube:hover {
  color: #ff0000;
}
footer .upper .my-container .center {
  width: 15%;
}
footer .upper .my-container .center .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .upper .my-container .center .content a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 600;
  font-size: 23px;
  transition: ease 0.2s all;
}
footer .upper .my-container .center .content a:hover {
  color: #ff6464;
}
footer .upper .my-container .right {
  width: 20%;
}
footer .upper .my-container .right .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .upper .my-container .right .content a {
  text-decoration: none;
  color: rgba(42, 42, 42, 0.6);
  transition: ease 0.2s all;
}
footer .upper .my-container .right .content a:hover {
  color: #ff6464;
}
footer .down {
  background-color: #ff6464;
  padding: 28px 0px;
}
footer .down .my-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f6f6f6;
}
footer .down .my-container p {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}
footer .down .my-container span {
  font-weight: 400;
  font-size: 18px;
}/*# sourceMappingURL=app.component.css.map */