<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <button class="btn btn-primary">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-danger">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
