<footer>
  <div class="upper">
    <div class="my-container">
      <div class="left">
        <div class="logo-and-text">
          <a routerLink="/">
            <div class="logo">
              <img
                src="../assets/images/tastybites.png"
                alt="Tasty Bites Logo"
              />
            </div>
            <h1>Tasty Bites</h1>
          </a>
        </div>

        <div class="catalog">
          <img
            src="https://cdn.dribbble.com/users/632872/screenshots/18232594/media/e93384642c7445ab786761299d00231e.jpg?resize=400x300&vertical=center"
            alt=""
          />
        </div>
        <div class="social-networks">
          <div class="title">
            <p>Follow us</p>
          </div>
          <div class="content">
            <a href="" class="facebook">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="" class="instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="twitter">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="" class="tiktok">
              <i class="fa-brands fa-tiktok"></i>
            </a>
            <a href="" class="youtube">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="center">
        <div class="content">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >HOME</a
          >
          <a routerLink="/recipes" routerLinkActive="active">RECIPES</a>
          <a routerLink="/shopping-list" routerLinkActive="active"
            >SHOPPING LIST</a
          >
          <a routerLink="/contact-us" routerLinkActive="active">CONTACT US</a>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <a href="">Author</a>
          <a href="">Documentation</a>
          <a href="">Robots</a>
        </div>
      </div>
    </div>
  </div>
  <div class="down">
    <div class="my-container">
      <p>Copyright © 2024 by Tasty Bites</p>
      <span>Please review our updated Terms of Service</span>
    </div>
  </div>
</footer>
