<a routerLink="/recipes/{{ recipe.id }}">
  <div class="recipe-item">
    <div class="recipe-image">
      <img
        src="../../../../assets/images/{{ recipe.image }}"
        alt="{{ recipe.name }}"
      />
    </div>
    <div class="recipes-text">
      <p class="category-text">{{ recipe.category }}</p>
      <h5>{{ recipe.name }}</h5>
      <p class="author">{{ recipe.author }}</p>
      <p class="desc">{{ recipe.description }} </p>
      <div class="ingredients-rating">
        <p>
          {{ recipe.ingredients.length }}
          {{ recipe.ingredients.length > 1 ? "ingredients" : "ingredient" }}
        </p>
        <div class="ratings-stars">
          <app-stars [rating]="recipe.rating"></app-stars>
        </div>
      </div>
    </div>
  </div>
</a>
