<main>
  <div class="my-container">
    <div class="shopping-list-title">
      <h2>Shopping list</h2>
      <p>Add ingredients to your shopping list</p>
    </div>
    <div class="shopping-list-div">
      <form #f="ngForm" (ngSubmit)="onSubmitItem(f)">
        <div class="name-amount-btns">
          <div class="name-amount">
            <input
              type="text"
              class="form-control name-input"
              placeholder="Name..."
              name="name"
              [(ngModel)]="itemToEditName"
              required
            />
            <input
              type="text"
              class="form-control amount-input"
              placeholder="Amount..."
              name="amount"
              [(ngModel)]="itemToEditAmount"
              required
              pattern="^[1-9]+[0-9]*$"
            />
          </div>
          <div class="add-clear-btn">
            <button type="submit" class="btn add-update-btn">
              {{ workMode == "create" ? "Add" : "Edit" }}
            </button>
            <button type="button" class="btn clear-btn" (click)="onClearForm()">
              Clear
            </button>
          </div>
        </div>
      </form>

      <div
        class="shopping-list-items"
        *ngIf="shoppingList.length; else emptyList"
      >
        <app-shopping-item
          *ngFor="let item of shoppingList"
          [item]="item"
          (deleteItemEmitter)="deleteItem($event)"
          (swapMode)="onSwapMode($event)"
        ></app-shopping-item>
      </div>
      <ng-template #emptyList>
        <div class="alert alert-danger mt-4">No added items</div>
      </ng-template>
    </div>
  </div>
</main>
