<main>
  <div class="my-container">
    <div class="shopping-list-title">
      <h2>Shopping list</h2>
      <p>Add ingredients to your shopping list</p>
    </div>
    <div class="shopping-list-div">
      <div class="name-amount-btns">
        <div class="name-amount">
          <input
            type="text"
            class="form-control name-input"
            placeholder="Name..."
          />
          <input
            type="text"
            class="form-control amount-input"
            placeholder="Amount..."
          />
        </div>
        <div class="add-clear-btn">
          <button class="btn add-update-btn">Add</button>
          <button class="btn clear-btn">Clear</button>
        </div>
      </div>

      <div class="shopping-list-items">
        <div class="shopping-list-item">
          <span>Tomato (10)</span>
          <button class="btn delete-item-btn">Delete item</button>
        </div>
        <div class="shopping-list-item">
          <span>Tomato (10)</span>
          <button class="btn delete-item-btn">Delete item</button>
        </div>
        <div class="shopping-list-item">
          <span>Tomato (10)</span>
          <button class="btn delete-item-btn">Delete item</button>
        </div>
        <div class="shopping-list-item">
          <span>Tomato (10)</span>
          <button class="btn delete-item-btn">Delete item</button>
        </div>
        <div class="shopping-list-item">
          <span>Tomato (10)</span>
          <button class="btn delete-item-btn">Delete item</button>
        </div>
        <div class="shopping-list-item">
          <span>Tomato (10)</span>
          <button class="btn delete-item-btn">Delete item</button>
        </div>
      </div>
    </div>
  </div>
</main>
