<main>
  <div class="my-container">
    <div class="shopping-list-title">
      <h2>Shopping list</h2>
      <p>Add ingredients to your shopping list</p>
    </div>
    <div class="shopping-list-div">
      <div class="name-amount-btns">
        <div class="name-amount">
          <input
            type="text"
            class="form-control name-input"
            placeholder="Name..."
          />
          <input
            type="text"
            class="form-control amount-input"
            placeholder="Amount..."
          />
        </div>
        <div class="add-clear-btn">
          <button class="btn add-update-btn">Add</button>
          <button class="btn clear-btn">Clear</button>
        </div>
      </div>

      <div class="shopping-list-items" *ngIf="shoppingList; else emptyList">
        <app-shopping-item
          *ngFor="let item of shoppingList"
          [item]="item"
          (deleteItemEmitter)="deleteItem($event)"
        ></app-shopping-item>
      </div>
      <ng-template #emptyList>
        <div class="alert alert-danger mt-4">No added items</div>
      </ng-template>
    </div>
  </div>
</main>
